{% extends "base.html" %}

{% block body %}
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Djordy Decroix</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Développeur web full stack</p>
        </div>
    </header>
    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">

                {% for article in articles %}
                    <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                   <h3 class="text-center">{{ article.title}}</h3>
                   <h5 class="text-center">{{ article.chapo}}</h5>
                  
                   <p class="text-center">{{ article.content|slice(0,200) }}...</p>
                   <h6 class="text-center">{{ article.createdAt|date('d-m-Y')}}</h6>
                   <p class="text-center"><a href="/article/{{ article.slug }}/" class="btn btn-primary mx-auto">Voir plus</a></p>
                </div>
                {% endfor %}
                
                


            </div>
        </div>
    </section>
    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">A propos</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ms-auto">
                    <p class="lead">Bonjour,
                        je m'appelle djordy j'ai 29 ans, je suis passionnée par l'informatique depuis mon plus jeune âge, 
                        j'ai commencé le développement web a l'âge de 14 ans grace au site du zéro et notre super Zozor ! 
                    </p>
                </div>
                <div class="col-lg-4 me-auto">
                    <p class="lead">Sur ce blog je vous propose de partager mon expérience; 
                        ainsi que mes projets en cours et mes inspirations.
                        vous pouvez retrouver ma l'intégralité de mon parcours en téléchargeant mon cv ci-dessous</p>
                </div>
            </div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="/assets/file/cv-template-fr.pdf">
                    <i class="fas fa-download me-2"></i>
                    Mon CV
                </a>
            </div>
        </div>
    </section>
    <!-- Contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contactez-moi !</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                   
                    <form method="post">
                        <div class="mb-3">
                          <label for="email" class="form-label">Votre Adresse mail</label>
                          <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text text-white">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="username" class="form-label">Nom / Prénom</label>
                          <input type="text" name="username" class="form-control" id="username">
                        </div>
                        <div class="mb-3">
                          <label for="message" class="form-label">Votre message</label>
                          <textarea class="form-control" name="message" id="mesage" cols="30" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary">Valider</button>
                      </form>

                      
                </div>
            </div>
        </div>
    </section>

    
{% endblock %}