<form method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Titre</label>
        <input type="title" name="title" class="form-control" id="title" aria-describedby="titleHelp">
    </div>

    <div class="mb-3">
        <label for="chapo" class="form-label">Chapô</label>
        <input type="text" name="chapo" class="form-control" id="chapo">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Contenu</label>
        <textarea type="text" name="content" class="form-control" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary">Valider</button>
</form>