{% extends "base.html" %}

{% block title %}
    <title>Djordy Decroix - Mot de passe oublié</title>
{% endblock %}

{% block body %}
    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Mot de passe oublié</h2>
            <p class="text-center">Un email vous sera envoyé afin de réinitialiser votre mot de passe</p>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <form method="post">
                <div class="mb-3">
                  <label for="email" class="form-label">Adresse mail</label>
                  <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-secondary">Réinitialiser</button>
              </form>
        </div>
    </section>
{% endblock %}